@using DocIntel.Core.Settings
@using DocIntel.Core.Helpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@model DocIntel.WebApp.ViewModels.UserViewModel.ResetPasswordViewModel
@inject ApplicationSettings _settings
@inject IOptions<PasswordOptions> _passwordOptions

@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Reset your password";
}

<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-6">
            <div style="margin: 60px 0 60px 0">
                <h1 class="font-weight-bold mb-4 text-center text-white">Reset your password</h1>
            </div>
            <div class="card p-4 rounded-plus bg-faded mt-4">
                <form method="post">
                    @if (TempData.ContainsKey("ErrorMessage"))
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    
                    <div class="alert alert-warning">
                        <p>The password has to meet the following constraints:</p>
                        <ul class="mb-0">
                            <li>Length must be greater than @_passwordOptions.Value.RequiredLength characters.</li>
                            @(_passwordOptions.Value.RequireDigit ? Html.Raw("<li>Password must contain numbers.</li>"): "")
                            @(_passwordOptions.Value.RequireLowercase ? Html.Raw("<li>Password must contain lowercase letters.</li>"): "")
                            @(_passwordOptions.Value.RequireUppercase ? Html.Raw("<li>Password must contain uppercase letters.</li>"): "")
                            @(_passwordOptions.Value.RequiredUniqueChars > 0 ? Html.Raw("<li>Password must contain at last " + @_passwordOptions.Value.RequiredUniqueChars + " unique characters.</li>"): "")
                            @(_passwordOptions.Value.RequireNonAlphanumeric ? Html.Raw("<li>Password must have at least one non-alphanumeric (e.g. @#$) symbol.</li>"): "")    
                        </ul>
                    </div>
                    
                    <input asp-for="UserId" type="hidden"/>
                    <input asp-for="Code" type="hidden"/>
                    
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PasswordConfirmation" class="control-label"></label>
                        <input asp-for="PasswordConfirmation" class="form-control"/>
                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                    </div>
                    
                    <div class="row no-gutter">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <button id="js-login-btn" type="submit" class="btn btn-danger waves-effect waves-themed btn-iconified">
                                        Change password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}