@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Importer

@{
    var collectionDelays = new List<SelectListItem>
    {
        new() {Value = TimeSpan.FromSeconds(30).ToString(), Text = "30 seconds (test)"},
        new() {Value = TimeSpan.FromMinutes(5).ToString(), Text = "5 minutes"},
        new() {Value = TimeSpan.FromMinutes(30).ToString(), Text = "30 minutes"},
        new() {Value = TimeSpan.FromHours(1).ToString(), Text = "1 hour"},
        new() {Value = TimeSpan.FromHours(12).ToString(), Text = "12 hours"},
        new() {Value = TimeSpan.FromDays(1).ToString(), Text = "1 day"}
    };

    var botUsers = ((IEnumerable<AppUser>) ViewBag.BotUsers).Select(ii =>
    {
        var item = new SelectListItem {Value = ii.Id.ToString(), Text = ii.UserName};
        return item;
    }).ToList();
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control summernote"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Status" class="control-label"></label>
    <select asp-for="Status" asp-items="Html.GetEnumSelectList<ImporterStatus>()" class="form-control"></select>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CollectionDelay" class="control-label">Collection Delay</label>
    <select asp-for="CollectionDelay" asp-items="@collectionDelays" class="form-control"></select>
    <span asp-validation-for="CollectionDelay" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FetchingUserId" class="control-label">User</label>
    <select asp-for="FetchingUserId" asp-items="@botUsers" class="form-control"></select>
    <span asp-validation-for="FetchingUserId" class="text-danger"></span>
    <span class="form-text text-muted">
        This user will be the user that registers the imported documents.
    </span>
</div>

<div class="form-group">
    <label asp-for="Priority" class="control-label"></label>
    <input asp-for="Priority" class="form-control"/>
    @Html.HelpTextFor(_ => _.Priority)
    <span asp-validation-for="Priority" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Limit" class="control-label"></label>
    <input asp-for="Limit" class="form-control"/>
    <span asp-validation-for="Limit" class="text-danger"></span>
</div>

<div class="form-group">
    <div class="custom-control custom-switch">
        @Html.CheckBoxFor(_ => _.SkipInbox, new {@class = "custom-control-input"})
        <label class="custom-control-label" asp-for="SkipInbox">Skip Inbox?</label>
    </div>
    @Html.HelpTextFor(_ => _.SkipInbox)
    <span asp-validation-for="SkipInbox" class="text-danger"></span>
</div>