@model Importer

<div id="panel-basic" class="panel">
    <div class="panel-hdr">
        <h2>
            Classification
            <span class="fw-300">
                <i>Information</i>
            </span>
        </h2>
    </div>
    <div class="panel-container show">
        <div class="panel-content">

            <div class="form-group">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(_ => _.OverrideClassification, new {@class = "custom-control-input"})
                    <label class="custom-control-label" asp-for="OverrideClassification">Override Classification?</label>
                </div>
                @Html.HelpTextFor(_ => _.OverrideClassification)
                <span asp-validation-for="OverrideClassification" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClassificationId" class="control-label">Classification</label>
                <select name="ClassificationId" class="form-control select2">
                    @foreach (var g in (IEnumerable<Classification>) ViewBag.AllClassifications)
                    {
                        @if (Model.ClassificationId == g.ClassificationId)
                        {
                            <option value="@g.ClassificationId" selected>@g.Title</option>
                        }
                        else
                        {
                            <option value="@g.ClassificationId">@g.Title</option>
                        }
                    }
                </select>
                <span asp-validation-for="ClassificationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(_ => _.OverrideReleasableTo, new {@class = "custom-control-input"})
                    <label class="custom-control-label" asp-for="OverrideReleasableTo">Override ReleasableTo?</label>
                </div>
                @Html.HelpTextFor(_ => _.OverrideReleasableTo)
                <span asp-validation-for="OverrideReleasableTo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Releasable To</label>
                <select class="select2 form-control" name="releasableTo" multiple="multiple">
                    @foreach (var tag in (List<Group>) ViewBag.AllGroups)
                    {
                        @if (Model.ReleasableTo?.Any(_ => _.GroupId == tag.GroupId) ?? false)
                        {
                            <option value="@tag.GroupId" selected>@tag.Name</option>
                        }
                        else
                        {
                            <option value="@tag.GroupId">@tag.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(_ => _.OverrideEyesOnly, new {@class = "custom-control-input"})
                    <label class="custom-control-label" asp-for="OverrideEyesOnly">Override Eyes Only?</label>
                </div>
                @Html.HelpTextFor(_ => _.OverrideEyesOnly)
                <span asp-validation-for="OverrideEyesOnly" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Eyes Only</label>
                <select class="select2 form-control" name="eyesOnly" multiple="multiple">
                    @foreach (var tag in (List<Group>) ViewBag.AllGroups)
                    {
                        @if (Model.EyesOnly?.Any(_ => _.GroupId == tag.GroupId) ?? false)
                        {
                            <option value="@tag.GroupId" selected>@tag.Name</option>
                        }
                        else
                        {
                            <option value="@tag.GroupId">@tag.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
</div>