@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Document

<div class="d-flex flex-row">
    <div class="mr-4">
        <div style="height:100px; overflow:hidden;" class="border thumbnail">
            <img src="@Url.Action("Thumbnail", "Document", new {id = Model.DocumentId})" width="140px"/>
        </div>
    </div>
    <div class="flex-grow-1">
        <a class="fs-lg fw-500" asp-action="Details" asp-controller="Document" asp-route-url="@Model.URL">
            @if (!string.IsNullOrEmpty(Model.Classification.Abbreviation))
            {
                <span class="badge @Model.Classification.Color mr-1">
                    @Model.Classification.Abbreviation
                </span>
            }
            @Html.DisplayFor(modelItem => Model.Title)
        </a>
        <div class=" mt-1">
            <p class="mb-1">
                @if (Model.Source != null)
                {
                    <span class="mr-1">
                        by <a asp-controller="Source" asp-action="Details" asp-route-url="@Model.Source.SourceId">@Model.Source.Title</a>
                    </span>
                    <span class="mr-1">-</span>
                }
                <span class="mr-1">
                    @Model.Reference
                </span>
                <span class="mr-1">-</span>
                @Html.Timeago(Model.DocumentDate)
            </p>
            @if (!string.IsNullOrEmpty(Model.ShortDescription))
            {
                <div class="m-0 mt-1 mb-2 color-fusion-50 short-summary">
                    @Html.SanitizeAndMap(Model.ShortDescription)
                </div>
            }
        </div>
        @if (Model.DocumentTags.Any())
        {
            <ul class="list-style-none m-0 p-0">
                @foreach (var g in Model.DocumentTags.Select(dt => dt.Tag).GroupBy(t => t.Facet).OrderBy(t => t.Key.Title))
                {
                    <li class="m-0 mb-1"><strong class="mr-2">@g.Key.Title</strong>
                        @foreach (var tag in g)
                        {
                            <a class="badge badge-pill @tag.BackgroundColor"
                               asp-controller="Tag"
                               asp-action="Details" asp-route-label="@tag.TagId">
                                @tag.Label
                            </a>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>