@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Group

<div class="panel">
    <div class="panel-container show">
        <div class="panel-content">

            <input asp-for="GroupId" type="hidden"/>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParentGroupId" class="control-label">Parent Group</label>
                <select name="ParentGroupId" class="form-control select2">
                    <option value="" selected>None</option>
                    @foreach (var g in ViewBag.AllGroups)
                    {
                        @if (Model.ParentGroupId == g.GroupId)
                        {
                            <option value="@g.GroupId" selected>@g.Name</option>
                        }
                        else
                        {
                            <option value="@g.GroupId">@g.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="ParentGroupId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(_ => _.Hidden, new {@class = "custom-control-input"})
                    <label class="custom-control-label" asp-for="Hidden">Hidden Group</label>
                </div>
                @Html.HelpTextFor(m => m.Hidden)
                <span asp-validation-for="Hidden" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(_ => _.Default, new {@class = "custom-control-input"})
                    <label class="custom-control-label" asp-for="Default">Default group</label>
                </div>
                @Html.HelpTextFor(m => m.Default)
                <span asp-validation-for="Default" class="text-danger"></span>
            </div>

        </div>
    </div>
</div>