@using DocIntel.Core.Utils.Search.Documents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DocIntel.WebApp.ViewModels.SearchViewModel.DocumentSearchResult

<div class="d-flex flex-row">
    <div class="mr-4">
        <div style="height:100px; overflow:hidden;" class="border thumbnail">
            <img src="@Url.Action("Thumbnail", "Document", new {id = Model.Document.DocumentId})" width="140px"/>
        </div>
    </div>
    <div style="min-width: 0;">
        <div class="text-truncate ">
            @if (!string.IsNullOrEmpty(Model.Document.Classification.Abbreviation))
            {
                <span class="badge @Model.Document.Classification.Color mr-1">
                    @Model.Document.Classification.Abbreviation
                    @if (Model.Document.ReleasableTo != null && Model.Document.ReleasableTo.Any()) {
                        <text>// REL TO @(string.Join(",", Model.Document.ReleasableTo.Select(g => g.Name)))</text>
                    }
                    @if (Model.Document.EyesOnly != null && Model.Document.EyesOnly.Any()) {
                        <text>// @(string.Join(",", Model.Document.EyesOnly.Select(g => g.Name))) EYES ONLY</text>
                    }
                </span>
            }
            @if (!string.IsNullOrEmpty(Model.TitleExcerpt))
            {
                <a class="fs-lg fw-500" asp-action="Details" asp-controller="Document" asp-route-url="@Model.Document.URL">
                    @Html.Raw(Model.TitleExcerpt)
                </a>
            }
            else
            {
                <a class="fs-lg fw-500" asp-action="Details" asp-controller="Document" asp-route-url="@Model.Document.URL">
                    @Model.Document.Title
                </a>
            }
        </div>
        <div class="mt-1">
            <p class="mb-1">
                @if (Model.Document.Source != null)
                {
                    <text>
                        <span class="mr-1">
                            by <a asp-controller="Source" asp-action="Details" asp-route-url="@Model.Document.Source.SourceId">@Model.Document.Source.Title</a>
                        </span>
                        <span class="mr-1">-</span>
                    </text>
                }
                @{
                    var sortCriteria = ViewData["SortBy"] as SortCriteria?;
                }
                @if(sortCriteria == SortCriteria.Relevance | sortCriteria == SortCriteria.DocumentDate)
                {
                    @Html.Timeago(Model.Document.DocumentDate)
                } else if (sortCriteria == SortCriteria.ModificationDate)
                {
                    <text>Modified @Html.Timeago(Model.Document.ModificationDate)</text>
                }
                else if (sortCriteria == SortCriteria.RegistrationDate)
                {
                    <text>Registered @Html.Timeago(Model.Document.RegistrationDate)</text>
                }
            </p>
            @if (!string.IsNullOrEmpty(Model.Excerpt))
            {
                <p class="m-0 mt-1 mb-2 color-fusion-50">&hellip;@Html.Raw(Model.Excerpt)&hellip;</p>
            }
            else
            {
                if (!string.IsNullOrEmpty(Model.Document.ShortDescription))
                {
                    <div class="m-0 mt-2 mb-2 color-fusion-50 short-summary">
                        @Html.SanitizeAndMap(Model.Document.ShortDescription)
                    </div>
                }
            }
        </div>
        @if (Model.Document.DocumentTags.Any())
        {
            <ul class="list-style-none m-0 p-0">
                @foreach (var g in Model.Document.DocumentTags.Select(dt => dt.Tag).GroupBy(t => t.Facet).OrderBy(t => t.Key.Title))
                {
                    <li class="m-0 mb-1 pl-4">
                        <strong class="mr-2 fw-500 fs-xs" style="margin-left: -1.5rem !important">@g.Key.Title</strong>
                        @foreach (var tag in g)
                        {
                            <a class="badge badge-pill @tag.BackgroundColor"
                               asp-controller="Tag"
                               asp-action="Details" asp-route-label="@tag.TagId">
                                @tag.Label
                            </a>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>