@model TagFacet

<div class="panel">
    <div class="panel-hdr">
        <h2>
            @Model.Title
            <span class="fw-300">
                <i>Facet</i>
            </span>
        </h2>
        <div class="panel-toolbar">
            <a asp-action="Edit" asp-controller="TagFacet" asp-route-id="@Model.Id" class="btn btn-xs btn-outline-success mr-1 shadow-0 waves-effect waves-themed">
                Edit
            </a>
            <button class="btn btn-panel waves-effect waves-themed"
                    data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse">
            </button>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            @foreach (var tag in Model.Tags)
            {
                <a class="badge badge-pill @tag.BackgroundColor"
                   asp-action="Details" asp-route-label="@tag.FriendlyName">
                    @tag.Label
                </a>
            }
        </div>
    </div>
</div>