@model IGrouping<Tuple<Guid, string, string>, DocIntel.Core.Utils.Search.Tags.TagSearchHit>

<div class="panel">
    <div class="panel-hdr">
        <h2>
            @Model.Key.Item2
            <span class="fw-300">
                <i>Facet</i>
            </span>
        </h2>
        <div class="panel-toolbar">
            <a asp-action="Edit" asp-controller="TagFacet" asp-route-id="@Model.Key.Item1" class="btn btn-xs btn-outline-success mr-1 shadow-0 waves-effect waves-themed">
                Edit
            </a>
            <button class="btn btn-panel waves-effect waves-themed"
                    data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse">
            </button>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            @if (!string.IsNullOrEmpty(Model.Key.Item3))
            {
                <text>@Html.Raw(Model.Key.Item3)</text>
                <hr />
            }
            @foreach (var tag in Model)
            {
                <a class="badge badge-pill @tag.Tag.BackgroundColor"
                   asp-action="Details" asp-route-label="@tag.Tag.TagId">
                    @tag.Tag.Label
                </a>
            }
        </div>
    </div>
</div>