@using DocIntel.Core.Authorization.Operations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DocIntel.WebApp.ViewModels.TagViewModel.TagDetailViewModel
@{
    ViewData["Title"] = $"{Model.Tag.Label}";
}

@{
    var canList = (await AuthorizationService.AuthorizeAsync(User, null, TagOperations.List)).Succeeded;
    var canEdit = (await AuthorizationService.AuthorizeAsync(User, null, TagOperations.Edit)).Succeeded;
    var canDelete = (await AuthorizationService.AuthorizeAsync(User, null, TagOperations.Delete)).Succeeded;
    var canSubscribe = (await AuthorizationService.AuthorizeAsync(User, null, TagOperations.Subscribe)).Succeeded;
    var canMerge = (await AuthorizationService.AuthorizeAsync(User, null, TagOperations.Merge)).Succeeded;
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-tag subheader-icon"></i>
        <span class="badge badge-pill @Model.Tag.BackgroundColor">
            @Model.Tag.FriendlyName
        </span>
    </h1>
    <div>
        @await Html.PartialAsync("_ButtonsUserTagPreference", Model, new ViewDataDictionary(ViewData))
        <div class="btn-group">
            @if (canEdit)
            {
                <a asp-action="Edit" asp-route-id="@Model.Tag.TagId" class= "btn btn-pills btn-primary btn-iconified waves-effect waves-themed">
                    <i class="fal fa-edit"></i> Edit
                </a>
            }
            @if (canMerge)
            {
                <a asp-action="Merge" asp-route-primaryTagName="@Model.Tag.TagId"
                   class= "btn btn-pills btn-primary waves-effect waves-themed btn-iconified">
                    <i class="fal fa-code-merge"></i> Merge
                </a>
            }
            @if (canDelete)
            {
                <a asp-action="Delete" asp-route-id="@Model.Tag.TagId" class= "btn btn-pills btn-primary btn-iconified waves-effect waves-themed">
                    <i class="fal fa-trash-alt"></i> Delete
                </a>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("_PanelTagSummary", Model.Tag, new ViewDataDictionary(ViewData))
        @await Html.PartialAsync("_PanelDocumentList", Model, new ViewDataDictionary(ViewData))
    </div>
@*
    <div class="col-3">
        @await Html.PartialAsync("_PanelTagMetaData", Model.Tag, new ViewDataDictionary(ViewData))
    </div>
    *@
</div>