@model AppUser


<div class="col-4">
    <div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="">
        <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
            <div class="d-flex flex-row align-items-center">
                <span class="mr-3">
                    @if (string.IsNullOrEmpty(Model.ProfilePicture))
                    {
                        <span class="rounded-circle profile-image d-block " style="background-image:url('/images/icons/color/icons8-male-user-48.png'); background-size: cover;"></span>
                    }
                    else
                    {
                        <span class="rounded-circle profile-image d-block " style="background-image:url('@Url.Action("ProfilePicture", "Account", new {userName = Model.UserName})'); background-size: cover;"></span>
                    }
                </span>
                <div class="info-card-text flex-1">
                    <a asp-action="Profile" asp-route-username="@Model.UserName" class="fs-xl text-truncate text-truncate-lg text-info">
                        @Model.FriendlyName
                    </a>
                    <span class="text-truncate text-truncate-xl">@Model.Function</span>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.PhoneNumber) || !string.IsNullOrEmpty(Model.Email))
        {
        <div class="card-body p-0">
            <div class="p-3">
                @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <a href="tel:+13174562564" class="mt-1 d-block fs-sm fw-400 text-dark">
                        <i class="fas fa-mobile-alt text-muted mr-2"></i> @Model.PhoneNumber
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.Email))
                {
                    <a href="mailto:@Model.Email" class="mt-1 d-block fs-sm fw-400 text-dark">
                        <i class="fas fa-envelope text-muted mr-2"></i> @Model.Email
                    </a>
                }
            </div>
        </div>
        }
    </div>
</div>