@model DocIntel.WebApp.Views.User.APIKeyViewModel

@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims

@inject IAppAuthorizationService _appAuthorizationService


@{
    if (ViewBag.CurrentUser.Id == Model.User.Id)
    {
        ViewData["Title"] = $"Your API keys";
    }
    else
    {
        ViewData["Title"] = $"API Keys for user '{Model.User.FriendlyName}'";
    }
    
    var canManageApiKey = await _appAuthorizationService.CanManageAPIKey(User, ViewBag.CurrentUser);
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-key subheader-icon"></i> @ViewData["Title"]
        <small>Review and manage API Keys.</small>
    </h1>
    <div>
        <div class="btn-group">
            @if (canManageApiKey)
            {
                <a asp-action="CreateAPIKey" asp-route-username="@Model.User.UserName"
                   class="btn btn-pills btn-primary waves-effect waves-themed btn-iconified">
                    <i class="fal fa-plus mr-1"></i> Create new API key
                </a>   
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">

        @if (!Model.Keys.Any())
        {
            <div class="panel">
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="text-center fs-xl m-3">
                            <i class="fal fa-key fa-4x opacity-30 color-fusion-30 mb-2"></i><br/>
                            @Model.User.FriendlyName has no API key at the moment.<br/>
                            <small>You can create different API key for each application you use.</small>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel">
                <div class="panel-hdr">
                    <h2>
                        API Keys
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content p-0">
                        <table class="table m-0">
                            <thead class="thead-themed">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>API Key</th>
                                <th>Last used</th>
                                <th>Last IP address</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            @foreach (var apiKey in Model.Keys)
                            {
                                <tr>
                                    <td>@apiKey.Name</td>
                                    <td>@apiKey.Description</td>
                                    <td>
                                        <input class="m-0 text-muted" style="width: 100%;" type="text" value="@apiKey.Key" />
                                    </td>
                                    <td>
                                        @if (apiKey.LastUsage == null)
                                        {
                                            <span class="text-muted">Never</span>
                                        }
                                        else
                                        {
                                            <text>@Html.Timeago((DateTime) apiKey.LastUsage)</text>
                                        }
                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(apiKey.LastIP))
                                        {
                                            <span class="text-muted">Never</span>
                                        }
                                        else
                                        {
                                            <text>@apiKey.LastIP</text>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="EditApiKey" asp-route-id="@apiKey.APIKeyId">Edit</a>
                                        &centerdot;
                                        <a asp-action="DeleteApiKey" asp-route-id="@apiKey.APIKeyId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>