@using DocIntel.Core.Authorization.Operations
@model DocIntel.WebApp.ViewModels.UserViewModel.IndexViewModel

@{
    ViewData["Title"] = "List users";

    var canCreate = (await AuthorizationService.AuthorizeAsync(User, null, UserOperations.Create)).Succeeded;
    var canEdit = (await AuthorizationService.AuthorizeAsync(User, null, UserOperations.Edit)).Succeeded;
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class="fal fa-user"></i> Users
        <small>
            Manage your users.
        </small>
    </h1>
    <div class="btn-group">
        @if (canCreate)
        {
            <a asp-action="Create" class= "btn btn-pills btn-primary btn-iconified">
                <i class="fal fa-plus"></i> Create
            </a>
        }
    </div>
</div>

<div class="row">
    <div class="col-12">

                <div id="panel-source-info" class="panel">
        <div class="panel-container show">
            <div class="panel-content">
                @if (Model.Users.Any())
                {
                    <table class="table table-bordered mb-0">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Function</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var t in Model.Users)
                        {
                            <tr>
                                <th scope="row">
                                    <a asp-action="Profile" asp-route-username="@t.UserName">@t.FriendlyName</a>
                                </th>
                                <td>@t.Function</td>
                                <td>@t.UserName</td>
                                <td>@t.Email</td>
                                <td>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, null, UserOperations.Edit)).Succeeded)
                                    {
                                        <a asp-action="Edit" asp-route-userName="@t.UserName" >Edit</a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="color-secondary">No users have this role or you don't have the rights to see these users.</p>
                }
                
            </div>
        </div>
    </div>
    </div>
</div>