@using DocIntel.Core.Authorization.Operations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var canEditProfile = (await AuthorizationService.AuthorizeAsync(User, null, UserOperations.EditOwn)).Succeeded;
    var canView = (await AuthorizationService.AuthorizeAsync(User, null, UserOperations.View)).Succeeded;
    var canResetPassword = (await AuthorizationService.AuthorizeAsync(User, null, UserOperations.ResetPassword)).Succeeded;
}

<div class="dropdown-header d-flex flex-row py-3 rounded-top background-dropdown-menu">
    <div class="d-flex flex-row align-items-center mt-1 mb-1 ">
        <span class="mr-2">
            @if (string.IsNullOrEmpty(ViewBag.CurrentUser.ProfilePicture))
            {
                <img alt="" class="profile-image rounded-circle" src="~/images/avatar-m.png"/>
            }
            else
            {
                <img alt="" class="profile-image rounded-circle" src="@Url.Action("ProfilePicture", "Account", new { Area = "", userName = ViewBag.CurrentUser.UserName})"/>
            }
        </span>
        <div class="info-card-text">
            <a asp-controller="User" asp-action="Profile" asp-area="" asp-route-username="@ViewBag.CurrentUser.UserName" title="@ViewBag.CurrentUser.FriendlyName" class="d-flex align-items-center mb-1">
                <div class="fs-lg text-truncate text-truncate-lg">@ViewBag.CurrentUser.FriendlyName</div>
            </a>
            <span class="text-truncate text-truncate-md opacity-80">&commat;@ViewBag.CurrentUser.UserName</span>
        </div>
    </div>
</div>

<div class="dropdown-divider m-0"></div>

@if (canEditProfile)
{
    <a class="dropdown-item fw-500 pt-3 pb-3" asp-controller="Account" asp-action="Edit" asp-area="">
        Edit profile
    </a>
}


@if (canResetPassword)
{
    <a class="dropdown-item fw-500 pt-3 pb-3" asp-action="ResetPassword" asp-route-username="@ViewBag.CurrentUser.UserName" asp-area="">
        Change password
    </a>
}

@if (canView)
{
    <a class="dropdown-item fw-500 pt-3 pb-3" asp-controller="User" asp-route-username="@ViewBag.CurrentUser.UserName" asp-action="APIKeys" asp-area="">
        Manage API Keys
    </a>
}

<a class="dropdown-item fw-500 pt-3 pb-3" asp-controller="Account" asp-action="Subscriptions" asp-area="">
    Manage subscriptions
</a>

<div class="dropdown-divider m-0"></div>

<a href="#" class="dropdown-item" data-action="app-fullscreen">
    <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
    <i class="float-right text-muted fw-n">F11</i>
</a>

<div class="dropdown-divider m-0"></div>

<a class="dropdown-item fw-500 pt-3 pb-3" asp-controller="Account" asp-action="Logout" id="dropdown-logout" asp-area="">
    <span data-i18n="drpdwn.page-logout">Logout</span>
    <span class="float-right fw-n">&commat;@ViewBag.CurrentUser.UserName</span>
</a>