<div class="info-card">
    @if (string.IsNullOrEmpty(ViewBag.CurrentUser.ProfilePicture))
    {
        <img alt="" class="profile-image rounded-circle" src="~/images/avatar-m.png"/>
    }
    else
    {
        <img alt="" class="profile-image rounded-circle" src="@Url.Action("ProfilePicture", "Account", new { area = "", userName = ViewBag.CurrentUser.UserName})"/>
    }
    <div class="info-card-text">
        <a asp-controller="User" asp-action="Profile" asp-area="" asp-route-username="@ViewBag.CurrentUser.UserName" title="@ViewBag.CurrentUser.FriendlyName" class="d-flex align-items-center mb-1">
            <span class="text-truncate text-truncate-sm d-inline-block">
                @ViewBag.CurrentUser.FriendlyName
            </span>
        </a>
        <span class="d-inline-block text-truncate text-truncate-sm">@ViewBag.CurrentUser.Function</span>
    </div>
</div>